<template>
  <div id="app">
    <Editor v-model="texto" name="editor" />
  </div>
</template>

<script>

//const Editor = () => import('./components/Editor.vue');
import Editor from './components/Editor.vue';

export default {
  name: "App",
  props: ['name', 'value'],
  data() {
    return {
      texto: this.value
    }
  },
  components: {
    Editor
  }
};
</script>

<style>

</style>
